.login_register_body {
    background: #162336;
}

.login_block {
    margin-top: 50px;
    border-radius: 0px;
    padding-top: 30px;
}

.login_block .welcome {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.6px;
}

.login_block .welcome span {
    color: #00e5ff;
}

.login_block .welcome span.create_head {
    color: #7eea51;
}

.login_block .hint {
    font-size: 13px;
    color: #d0c2f6;
    margin: 0;
    margin-top: 6px;
    text-align: center;
}

.login_block .login_form_block {
    padding: 0 30px;
}

.login_block .login_form_block form {
    margin-top: 40px;
}

.login_block .login_form_block form .form-group {
    margin-bottom: 15px;
}

.login_block .login_form_block form .form-group label {
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
}

.login_block .login_form_block form .form-group .form-control {
    min-height: 45px;
    font-size: 17px;
    letter-spacing: 0.5px;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    font-weight: 500;
}

.login_block .login_form_block form .form-group .form-control:last-child {
    margin-top: -2px;
}

.login_block .login_form_block form .btn {
    margin-top: 15px;
    border-radius: 0px;
    border: 1px solid #ccc;
    letter-spacing: 0.5px;
    font-size: 17px;
    font-weight: 700;
    outline: none;
    padding: 11px 20px;
}

.login_block .login_form_block form .btn:hover {
    text-decoration: none;
}

.login_block .alternate_logins {
    background: white;
    padding: 15px 0;
    position: relative;
    margin-top: 50px;
}

.login_block .alternate_logins .alternate {
    position: absolute;
    top: -15px;
    display: inline-block;
    font-size: 12px;
    background: #e2a021;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    text-align: center;
    padding-top: 7px;
    color: #162336;
    font-weight: 700;
    right: auto;
    left: 47%;
}

.login_block .alternate_logins .social_icons a {
    background: #d84c38;
    display: inline-block;
    margin: 10px auto;
    margin-top: 15px;
    padding: 8px 15px;
    border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white;
}

.login_block .alternate_logins .social_icons a i {
    display: inline-block;
    margin-right: 15px;
}

.login_block .alternate_logins .social_icons a:hover {
    text-decoration: none;
    background: #ce3d28;
}

.marl {
    margin-left: 0px;
    margin-right: 0px;
}
.login-logo{
  padding-bottom: 10px;
}



.skin-purple .sidebar-menu>li.header {
  color:#d2dde2;
}
.sidebar-menu li.header {

    font-size: 13px;
}
body {
  color:#bfc3e2;
}
