{% extends "site_base.html" %}
{% load staticfiles %}
{% block title %} Panel {% endblock %}
{% block contenttitle %} Panel {% endblock %}
{% block bodycontent %}
<!-- main_container starts here -->
<div class="fluid">

        <ul class="ul_host">
            <li class='li_host'>Ana Makine: {{ host_name }}</li>
            <li class='li_host'>Kernel: {{ kernel }}</li>
            <li class='li_host'>IP Adresi: {{ ip_addr }}</li>
        </ul>
</div>
<div class="fluid">
        <div class="widget grid12">
            <div class="widget-header">
                <div class="widget-title">
                    <i class="fa fa-microchip"></i> CPU Kullanımı
                </div>
                <div class="widget-controls">
                    <div class="badge msg-badge">%</div>
                </div>
            </div> <!-- /widget-header -->

            <div class="widget-content pad20f">
                <div id="chart_div" style="width: 100%; height: 100%;"></div>
            </div>

					</div> <!-- /widget -->
</div>

<div class="fluid">
  <div class="widget grid6">
      <div class="widget-header">
          <div class="widget-title">
              <i class="fa fa-microchip"></i> Ram Kullanımı (GB)
          </div>
          <div class="widget-controls">
              <div class="badge msg-badge">%</div>
          </div>
      </div> <!-- /widget-header -->

      <div class="widget-content pad20f">
          <div id="mem_div" style="width: 100%; height: 100%;"></div>
      </div>

    </div> <!-- /widget -->
    <div class="widget grid6">
        <div class="widget-header">
            <div class="widget-title">
                <i class="fa fa-microchip"></i> Disk Kullanımı (GB)
            </div>
            <div class="widget-controls">
                <div class="badge msg-badge">%</div>
            </div>
        </div> <!-- /widget-header -->

        <div class="widget-content pad20f">
            <div id="disk_div" style="width: 100%; height: 100%;"></div>
        </div>

      </div> <!-- /widget -->

</div>

<div class="fluid">
  <div class="widget grid6">
      <div class="widget-header">
          <div class="widget-title">
              <i class="fa fa-microchip"></i> Şebeke Kullanımı - İndirme
          </div>
          <div class="widget-controls">
              <div class="badge msg-badge">KB</div>
          </div>
      </div> <!-- /widget-header -->

      <div class="widget-content pad20f">
          <div id="nud" style="width: 100%; height: 100%;"></div>
      </div>

    </div> <!-- /widget -->
    <div class="widget grid6">
        <div class="widget-header">
            <div class="widget-title">
                <i class="fa fa-microchip"></i> Şebeke Kullanımı - Yükleme
            </div>
            <div class="widget-controls">
                <div class="badge msg-badge">KB</div>
            </div>
        </div> <!-- /widget-header -->

        <div class="widget-content pad20f">
            <div id="nuu" style="width: 100%; height: 100%;"></div>
        </div>

      </div> <!-- /widget -->
</div>



    <!-- main_container ends here -->
    {% endblock %}
    {% block extra_js %}
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(initialize_charts);
        function initialize_charts() {
            container_stats();
        }

        function container_stats() {
            //CPU STATS
            var data = new google.visualization.DataTable();
            data.addColumn('number', '');
            data.addColumn('number', 'CPU(%)');
            var options = {
                hAxis: {
                    title: 'Zaman',
                    titleTextStyle: {
                        italic: false
                    }
                },
                vAxis: {
                    title: 'CPU(%)',
                    titleTextStyle: {
                        italic: false
                    }
                },
                backgroundColor: '#ffffff'
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            //CPU STATS ENDS
            var memChart = new google.visualization.PieChart(document.getElementById('mem_div'));
            var memChart2 = new google.visualization.PieChart(document.getElementById('disk_div'));
            //NET STATS DONWLOAD
            var netData = new google.visualization.DataTable();
            var net_options = {
                hAxis: {
                    title: 'Zaman',
                    titleTextStyle: {
                        italic: false
                    }
                },
                vAxis: {
                    title: 'İndirilen(KB)',
                    titleTextStyle: {
                        italic: false
                    }
                },
                backgroundColor: '#ffffff'
            };
            var net_chart = new google.visualization.LineChart(document.getElementById('nud'));
            //NET STATS DONWLOAD END
            //NET STATS UPLOAD
            var netData2 = new google.visualization.DataTable();
            var net_options2 = {
                hAxis: {
                    title: 'Zaman',
                    titleTextStyle: {
                        italic: false
                    }
                },
                vAxis: {
                    title: 'Yüklenen(KB)',
                    titleTextStyle: {
                        italic: false
                    }
                },
                backgroundColor: '#ffffff'
            };
            var net_chart2 = new google.visualization.LineChart(document.getElementById('nuu'));
            //NET STATS UPLOAD END
            $req = new XMLHttpRequest();
            var ok = 1
            var $cpu = []
            $req.open('GET', "{% url 'docker_box:host_stats'%}");
            $req.onreadystatechange = function (aEvt) {
                if ($req.readyState == 3) {
                    if ($req.status == 200) {
                        $response = $req.responseText
                        $response = $response.substr(0, $response.length - 1)
                        $response = JSON.parse("[" + $response + "]")
                        $cpu = $response[$response.length - 1][0].cpu
                        $cpu = $cpu.substr(0, $cpu.length - 1)
                        $cpu = [ok, parseFloat($cpu)];
                        data.addRows([$cpu])
                        chart.draw(data, options) //cpuchart


                        $mem = $response[$response.length - 1][0].memory
                        $mem = $mem.substr(0, $mem.length - 1)
                        $memtotal = $response[$response.length - 1][0].memTotal
                        var memData = google.visualization.arrayToDataTable([
                            ['Müsait', 'Kullanılan'],
                            ['Müsait', parseFloat($memtotal)],
                            ['Kullanılan', parseFloat($mem)],
                        ]);
                        memChart.draw(memData);

                        var interface = $response[$response.length - 1][0].net_stats_down
                        interface = interface.replace(/\'/g, '"');
                        interface = JSON.parse(interface)

                        var interface2 = $response[$response.length - 1][0].net_stats_up
                        interface2 = interface2.replace(/\'/g, '"');
                        interface2 = JSON.parse(interface2)

                        var disk = $response[$response.length - 1][0].disk
                        disk = disk.replace(/\'/g, '"');
                        disk = JSON.parse(disk)

                        rowz = []
                        m = 1

                        var i = 1
                        var col = []
                        var row = []
                        var col2 = []
                        var row2 = []
                        row[0] = ok
                        row2[0] = ok
                        if (ok == 1) {
                            netData.addColumn('number', '')
                            netData2.addColumn('number', '')
                            for (net in interface) {
                                row[i] = parseFloat(interface[net])
                                netData.addColumn('number', net)
                                i++
                            }
                            i = 1
                            for (net in interface2) {
                                row2[i] = parseFloat(interface2[net])
                                netData2.addColumn('number', net)
                                i++
                            }

                        } else {
                            for (net in interface) {
                                row[i] = parseFloat(interface[net])
                                i++
                            }
                            i = 1
                            for (net in interface2) {
                                row2[i] = parseFloat(interface2[net])
                                i++
                            }
                        }
                        rowz[0] = ['asd', 'asd']
                        for (u in disk) {
                            rowz[m] = [u, parseFloat(disk[u])]
                            m++;
                        }
                        netData.addRows([row])
                        net_chart.draw(netData, net_options)
                        netData2.addRows([row2])
                        net_chart2.draw(netData2, net_options2)
                        var diskData = google.visualization.arrayToDataTable(rowz);
                        memChart2.draw(diskData)
                        ok++
                        //NET STATS ENDS
                        // delete variables
                        delete interface2, interface, row2, row, col, net, i, rowz, disk
                        delete $mem, $memtotal, $cpu;
                        // delete variables
                    } else {
                        alert("Sayfa Yüklenirken Hata\n");
                        window.location = ''
                    }
                }
            };
            $req.send();
        }
    </script>
    {% endblock %}
